header-padding-normal = 10px
header-padding-max = 30px
logo-size = 50px

#header
  position: relative
  background: #FFDE6C
  @media print
    display: none
.navbar-expand-lg .navbar-nav .nav-link
  color: #25415E
  font-weight: bold
  padding-left: 25px
  padding-right: 25px
#header-inner
  display: flex
  flex-flow: row nowrap
  align-items: center
  @media mq-mobile
    justify-content: center

#logo-wrap
  flex: 0 logo-size

#logo
  hide-text()
  background: url("/logo.svg")
  width: logo-size
  height: logo-size
  background-size: @width @height
  display: block

#main-nav
  display: none
  flex: 1 auto
  padding-left: 20px
  @media mq-normal
    display: block

.main-nav-link
  color: #fff
  text-decoration: none
  line-height: logo-size
  opacity: 0.7
  transition: 0.2s
  font-family: font-title
  display: inline-block
  padding: 0 15px
  &:hover
    opacity: 1
    color: color-link-hover

#lang-select-wrap
  cursor: pointer
  display: none
  position: relative
  @media mq-normal
    display: block

#lang-select-label
  color: #25415E
  font-weight: bold
  opacity: 0.7
  font-family: font-title
  padding-top: .5rem
  padding-bottom: .5rem
  span
    padding-left: 8px
  i
    opacity: 0.7

#lang-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -webkit-appearance: menulist-button
  font-size: inherit
#banner
  background-image: url('../../asset/images/basic/cqm_banner.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 574px;
  width: 100%;
  @media(max-width: 768px)
    background-image: url('../../asset/images/basic/m_banner@2x.png')
    height: calc(100vh - 95px)
