.metting-description
  background-color: #ffde6c
  border-radius: 5px
  padding: 46px
  margin-bottom: 24px
  p
    margin-bottom: 30px
.agendaWraper
  margin-top: 24px
  margin-bottom: 24px
  .agendaItem
    background: #FFDE6C
    display: flex
    .left
      padding-left: 60px
      padding-top: 30px
      padding-bottom: 30px
      width: 840px
      display: flex
      flex-direction: column
      justify-content: center
      border-right: 2px dashed #000
      .title
        font-size: 60px
        margin-bottom: 38px
      .content
        font-size: 20px
        ul
          li:first-child
            float: left
        .detailWraper
          padding-left: 50px
          font-size: 18px
          .time
            margin-right: 15px
            float: left
            & + div
              padding-left: 115px
        &-section
          margin-bottom: 20px
          line-height: 28px
      .btn
        display: none
    .right
      width: calc(100% - 784px)
      height: inherit
      position relative
      text-align: center
      .btn
        margin-top: 400px
        position: relative
        z-index: 2
      .topimg
        position absolute
        top 70px
        right 0
      .bottomimg
        position absolute
        bottom 90px
        left: 50%
        transform: translate(-50%, 0)
  @media(max-width: 1200px)
    .agendaItem
      height: auto
      .left
        border: none
        width: auto
        padding: 15px
        .title
          font-size: 40px
        .btn
          display: block
          margin: 0 auto
          margin-top: 10px
    .right
      display: none
.topicWraper
  margin-top: 24px
.volunteerWraper
  margin-top: 24px
  margin-bottom: 24px
.personalWraper
  margin-top: 24px
  .personalItem
    display: inline-block
    vertical-align: middle
    margin-bottom 20px
    img
      margin-right: 12px
    .name
      display: inline-block
      color: #ffffff
      font-size: 30px
      margin-right: 42px
  .total
    max-width: 420px
    margin: 0 auto
    text-align: center
    color: #fff
    margin-bottom 40px

      
