{% extends "pages/_base.html" %}
{% import 'pages/macros/_title_macro.html' as title_macro %}
{% import 'pages/macros/_topic_macro.html' as topic_macro %}
{% import 'pages/macros/_volunteer_macro.html' as volunteer_macro %}

{% block content %}
  <header id="banner"></header>
  <div class="button-wrap">
    <button class="btn btn-yellow left-btn" onclick="javascript:window.open('{{ site.to_be_speaker_url }}')">{{ site.to_be_speaker }}</button>
    <button class="btn btn-yellow" onclick="javascript:window.open('{{ site.to_be_volunteer_url }}')">{{ site.to_be_volunteer }}</button>
  </div>
  <div class="container content-wrap">
    <div class="metting-description">
      {{schedule.description}}
    </div>
    {{ title_macro.title(site.title_schedule, site) }}
    <div class="agendaWraper">
      <div class="agendaItem">
        <div class="left">
          <div class="title">
            {{schedule.city_name}}
          </div>
          <div class="content">
            <div class="content-section">
              <p>{{schedule.time}}</p>
              <p>{{schedule.address}}</p>
            </div>
            <div class="content-section">
              <b>
                {{schedule.intro}}
              </b>
            </div>
            <div class="content-section">
              {{schedule.tips}}
            </div>
            {% for field in schedule.agenda%}
              <div class="content-section">
                <b>{{field.name}}</b>
                <div class="detailWraper">
                  {% for detail in field.detail %}
                    {% if detail.speaker %}
                        {% set a_speaker = schedule.speakers[detail.speaker] %}
                      <div>
                        <div class="time">{{detail.time}}</div>
                        <div>{{a_speaker.topic.title}}【{{a_speaker.name}}, {{a_speaker.title}}】</div>
                      </div>
                    {% else %}
                       <div>
                        <div class="time">{{detail.time}}</div>
                        <div>{{detail.topic}}</div>
                      </div>
                    {% endif %}

                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
          <button class="btn btn-blue" onclick="javascript:window.open('{{ schedule.buy_ticket_url }}')">我要参加</button>
        </div>
        <div class="right">
          <img class="topimg" src="{{ site.base_url }}/asset/images/basic/s2_single_schedule_right_bj.png" />
          <button class="btn btn-blue" onclick="javascript:window.open('{{ schedule.buy_ticket_url }}')">{{site.button_buy}}</button>
        </div>
      </div>
    </div>
    {{ title_macro.title(site.title_speaker, site) }}
    <div class="topicWraper">
        {% if schedule.speakers %}
            {% for item in schedule.speakers %}
                {{ topic_macro.topic(schedule.speakers[item], site) }}
            {% endfor %}
        {% endif %}
    </div>
    {{ title_macro.title(site.title_volunteer, site) }}
    <div class="volunteerWraper">
      <div class="row">
          {% if schedule.volunteers %}
            {% for item in schedule.volunteers %}
              <div class="col-sm-6 col-md-4 col-lg-3" >
                {{ volunteer_macro.volunteer(item, site) }}
              </div>
            {% endfor %}
          {% endif %}
      </div>
    </div>
    {% include "pages/_support.html" %}
    {{ title_macro.title(site.title_donator, site) }}
    <div class="personalWraper">
        {% if schedule.donators %}
            {% for item in schedule.donators %}
                <div class="personalItem">
                    <img src="{{ site.base_url }}/asset/images/basic/{{item.avatar}}" alt="">
                    <div class="name">{{item.name}}</div>
                </div>
            {% endfor %}
            {% set donators_len = schedule.donators | length %}
            <div class="total">共 <span class="yellow">{{donators_len}}</span> 位蟒人小伙伴为本次活动进行赞助 感谢支持</div>
        {% endif %}

    </div>
  </div>
{% endblock %}
