{% extends "base/_base.html" %}
{% import 'base/_speaker_macro.html' as speaker_macro %}
{% import 'base/_schedule_macro.html' as schedule_macro %}
{% import 'base/_volunteer_macro.html' as volunteer_macro %}
{% set page_title = message.page_title_index %}
{% block content %}

<section id="about" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-multimedia-12"></span>
        <h3>{{ message.pycon_intro_title }}</h3>
        <br />
        <br />
        <div style="text-align: center; font-size: 16px; line-height: 50px;">
            {{ message.pycon_intro }}
        </div>
    </div>
</section>

<!-- 讲师 -->
<!-- FIXME: DRY -->
<section id="speakers" class="section align-center">
    {% for city in agenda.city_list %}
    {% set speaker_city = agenda[city].name + message.speakers %}
    {% set extra_class = loop.cycle('pycon-even-seg','pycon-odd-seg') %}
    {{ speaker_macro.speaker_block(speaker_city, selectspeakers(speakers, city), extra_class) }}
    {% endfor%}
</section>

<section id="schedule" class="section schedule-section align-center">
        {% macro agenda_link(city) %}
            <li class="{{ city.actived }}">
                <a href="#{{ city.url }}" data-toggle="tab">
                    <h5 class="highlight">{{ city.name }}</h5>
                    <p class="text-alt">{{ city.date }}</p>
                </a>
            </li>
        {% endmacro %}

		<div class="container">
			<span class="icon section-icon icon-office-21"></span>
			<h3>{{ message.agenda_title }}</h3>
			<br />
			<br />
			<div class="schedule">
				<ul class="nav nav-schedule">
                    {% for city_name in agenda.city_list %}{{ agenda_link(agenda[city_name]) }}{% endfor %}
				</ul>
				<div class="tab-content">
                    {% for city_name in agenda.city_list %}
                        {{ schedule_macro.schedule_block(speakers, agenda[city_name]) }}
                    {% endfor %}
				</div>

			</div>

		</div>

	</section>
    <section id="volunteers" class="section align-center">
        {% for role in volunteers.role_list %}
        {% set extra_class = loop.cycle('pycon-even-seg','pycon-odd-seg') %}
        {{ volunteer_macro.volunteer_block(role, volunteers[role.role], extra_class) }}
        {% endfor%}
    </section>
<section id="sponsors" class="section align-center">

 <div class="container">
     <span class="icon section-icon icon-documents-bookmarks-12"></span>
     <h3>{{ sponsors.sponsor_title }}</h3>
     <br/>
     <br/>
    {% macro sponsor_block(sponsor_meta, sponsor_list) %}
      {% if sponsor_list %} {% for sponsor_info in sponsor_list %}
            <div class="sponsors-wraper col-sm-6 col-md-4 col-lg-3">
                <img src="{{ sponsor_info.logo }}" alt="">
                <div class="support_name">
                    <a href="{{ sponsor_info.link }}" target="_blank">{{ sponsor_info.name }}</a>
                    <span> [{{ sponsor_meta.name }}]</span>
                </div>
                <div class="support_intro">{{ sponsor_info.intro }}</div>
            </div>
        {% endfor %} {% endif %}
      {% endmacro %}

    {% for sponsor_meta in sponsors.meta %}
    {{ sponsor_block(sponsor_meta, sponsors[sponsor_meta.level]) }}
    {% endfor %}
 </div>

</section>

<section id="contacts">
    <div class="contacts-wrapper">
        <div id="wrap" class="my-map">
            <div id="mapContainer"></div>
        </div>
        <div class="container contacts-on-map-container">
            <div class="contacts-on-map">
                <h3>{{ message.conference_location_title }}</h3>
                <ul class="list">
                    <li><i class="fa fa-map-marker"></i>{{ message.conference_location }}</li>
                    <!-- <li><i class="fa fa-envelope"></i>info@ventcamp.com</li> -->
                    <li><i class="fa fa-phone"></i>185 1609 4658</li>
                    <li><i class="fa fa-clock-o"></i>{{ message.conference_time }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock %}
