{% macro nav_a(site, nav_item) %}
  {% if nav_item.url_external %}
    <a href="{{ nav_item.url }}" class="navigation-link">{{ nav_item.title }}</a>
  {% else %}
    <a href="{{ site.base_url }}/{{ nav_item.url }}" class="navigation-link">{{ nav_item.title }}</a>
  {% endif %}
{% endmacro %}


{% macro nav_menu(site, nav) %}
  {% for nav_item in nav %}
    {% if nav_item.children %}
       <li class="navigation-item dropdown">
            <a class="navigation-link dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }}</a>
            <ul class="dropdown-menu">
                <li class="navigation-item">
                    {% for sub_nav_item in nav_item.children %}
                        {{ nav_a(site, sub_nav_item) }}
                    {% endfor %}
                </li>
            </ul>
        </li>
    {% else %}
    <li class="navigation-item">
        {{ nav_a(site, nav_item) }}
    </li>
    {% endif %}
  {% endfor %}
{% endmacro %}
