{% macro speech_block(speakers, city, place) %}
 {% if place %}
 <!-- Auditorium 1 content start -->
    <div id="{{ place.url }}" class="tab-pane fade {{ place.actived }} in">

    <!-- Accordion start -->
    <div class="panel-group" id="{{ place.url }}_timeline">

        {% for speech in place.speechs %}
        <!-- Lecture start -->
        <div class="panel schedule-item">
            <div class="lecture-icon-wrapper">
                 {% if speech.speaker %}
                    {% set a_speaker = speakers[speech.speaker] %}
                    <img src="{{a_speaker.avatar}}" alt="" class="img-responsive">
                 {% else %}
                    <span class="fa fa-cutlery"></span>
                 {% endif %}

            </div>
             {% if speech.speaker %}
                {% set a_speaker = speakers[speech.speaker] %}
                {% set topic = a_speaker[city.city + '_topic'] or a_speaker.topic %}
                <a data-toggle="collapse" data-parent="#{{ place.url }}_timeline" href="#{{ place.url }}_time1" class="schedule-item-toggle">
                    <strong class="time highlight"><span class="icon icon-office-24"></span>{{ speech.time }}</strong>
                    <h6 class="title">{{ topic.title }}<i class="icon icon-arrows-06"></i></h6>
                </a>
                <div id="{{ place.url }}_time1" class="panel-collapse collapse in schedule-item-body">
                    <article>
                        <!--b>作者简介:</b> {{ a_speaker.short_intro or a_speaker.intro }}
                        <br />
                        <b>演讲简介:</b> {{ topic.preview }}-->
                        <p class="description">{{ topic.preview }}</p>
                        <strong class="highlight speaker-name">{{ a_speaker.name }}</strong>
                    </article>
                </div>
            {% else %}
                <a data-toggle="collapse" data-parent="#{{ place.url }}_timeline" class="schedule-item-toggle">
                    <strong class="time highlight"><span class="icon icon-office-24"></span>{{ speech.time }}</strong>
                    <h6 class="title">{{ speech.topic }}<i class="icon icon-arrows-06"></i></h6>
                </a>
            {% endif %}

        </div>
        <!-- Lecture end -->
        {% endfor %}
    </div>
    <!-- Accordion end -->

</div>
 <!-- Auditorium 1 content end -->
  {% endif %}
{% endmacro %}

{% macro schedule_block(speakers, city) %}
<div id="{{ city.url }}" class="tab-pane fade {{ city.actived }} in">

    <!-- Navigation by auditorium start -->
    <ul class="nav nav-schedule">
      {% for place in city.places %}
          <li class="{{ place.actived }}"><a href="#{{ place.url}}" data-toggle="tab">{{ place.place_name }}</a></li>
      {% endfor %}
    </ul>
    <!-- Navigation by auditorium start -->

    <!-- Second level content start -->
    <div class="tab-content tab-content-schedule">
        {% for place in city.places %}
            {{ speech_block(speakers,city, place) }}
        {% endfor %}
    </div>
    <!-- Second level content end -->

</div>
{% endmacro %}
