{% macro nav_a(site, nav_item, style) %}
  {% if nav_item.url_external %}
    <a href="{{ nav_item.url }}" class="{{ style }}">{{ nav_item.title }}</a>
  {% elif nav_item.language %}
    <a id="lang-select-wrap" data-lang="{{nav_item.language}}" class="{{ style }}">{{ nav_item.title }}</a>
  {% else %}
    <a href="{{ site.base_url }}/{{ nav_item.url }}" class="{{ style }}">{{ nav_item.title }}</a>
  {% endif %}
{% endmacro %}


{% macro nav_menu(site, nav) %}
  {% for nav_item in nav %}
    {% if nav_item.children %}
       <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ nav_item.title }}
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 {% for sub_nav_item in nav_item.children %}
                    {{ nav_a(site, sub_nav_item, "dropdown-item") }}
                 {% endfor %}
            </div>
        </li>
    {% else %}
    <li class="nav-item">
        {{ nav_a(site, nav_item, "nav-link") }}
    </li>
    {% endif %}
  {% endfor %}
{% endmacro %}
